.fontSmall {
  font-size: 0.85rem;
}
.user-info {
  color: #ffffff;
  font-size: 0.83rem;
}
.logoutButton {
  display: block;
  max-width: 8rem;
  margin: 0 auto;
}
.form {
  display: block;
  max-width: 75rem;
  margin: 0 auto;
}
.register-page .errorMesssage {
  animation-duration: 3.5s;
  animation-name: message;
  display: block;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 20rem;
  color: #ffffff;
  font-size: 0.9rem;
  font-style: italic;
}
.main-sidebar .logo {
  animation: spin 4s linear infinite;
}
@media only screen and (max-width: 600px){
.register-page .errorMesssage{
  width: 20rem;
  font-size: .8rem;
}
}

@keyframes message {
  0% {
    width: 15rem;
  }
  100% {
    width: 20rem;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
